*

!LICENSE

# xserver
!.xinitrc

# config
!.config

# git
!.gitignore
!.gitconfig
!.gitmodules

# shell
!.bashrc
!.bash_profile
!.bash_logout
!.zshrc

# tmux
!.tmux.conf
!.tmux.sh

# vim
!.vimrc

# mplayer
!.mplayer
!.mplayer/config

# i3
!.config/i3
!.config/i3/*

# i3blocks
!.config/i3blocks
!.config/i3blocks/*

# alacritty
!.config/alacritty
!.config/alacritty/*

# cache
!.cache
!.cache/*

# local
!.local
!.local/share
!.local/share/fonts
!.local/share/fonts/*
.local/share/fonts/.*

# systemd
!.config/systemd
!.config/systemd/user
!.config/systemd/user/default.target.wants
!.config/systemd/user/default.target.wants/*

# taskwarrior
!.taskrc
