*

!LICENSE
!.xinitrc
!.config

# git
!.gitignore
!.gitconfig

# shell
!.bashrc
!.bash_profile
!.bash_logout
!.zshrc

# tmux
!.tmux.conf

# vim
!.vimrc
!.vim
!.vim/*
!.vim/bundle/Vundle.vim

# htop
!.config/htop
!.config/htop/*

# i3
!.config/i3
!.config/i3/*

# xfce4-terminal
!.config/xfce4
!.config/xfce4/terminal
!.config/xfce4/terminal/terminalrc

# cache
!.cache
!.cache/*

# local
!.local
!.local/share
!.local/share/fonts
!.local/share/fonts/*
.local/share/fonts/.*
