*

!.gitignore
!.gitconfig

!.bashrc
!.bash_profile
!.bash_logout
!.zshrc

!.tmux.conf

!.vimrc
!.vim
!.vim/*

!.xinitrc

!.config

# htop
!.config/htop
!.config/htop/*

# i3
!.config/i3
!.config/i3/*

# xfce4-terminal
!.config/xfce4
!.config/xfce4/terminal
!.config/xfce4/terminal/terminalrc

# chromium
!.config/chromium

# fonts
!.fonts
!.fonts/*
